__pycache__/
*.pyc
*.pyo
*.log
*.db
*.sqlite3
.env
.vscode
node_modules
*.swp
*.bak
*.tmp
odoo.conf
venv/

*.mo
*.pot
*.manifest

# Tam thoi bo qua cac file markdown, neu can thi moi them vao sau
*.md