<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Action -->
    <record id="action_educare_student" model="ir.actions.act_window">
        <field name="name">Students</field>
        <field name="res_model">educare.student</field>
        <field name="view_mode">tree,form,kanban</field>
        <field name="search_view_id" ref="view_educare_student_search" />
        <field name="context">{'search_default_filter_active': 1}</field>

        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first student profile!
            </p>
            <p>Manage all student profiles here.</p>
        </field>
    </record>

    <!-- Menu: Educare → Students -->
    <menuitem
        id="menu_student_parent"
        name="Students"
        parent="educare_base.menu_educare_root"
        sequence="10" />

    <!-- Menu: All Students -->
    <menuitem
        id="menu_student_all"
        name="All Students"
        parent="menu_student_parent"
        action="action_educare_student"
        sequence="10" />

</odoo>