<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- User Management Sub-menu (Admin only) -->
        <menuitem id="menu_educare_user_management"
            name="User Management"
            parent="educare_base.menu_educare_root"
            sequence="80"
            groups="educare_security.group_admin" />

        <menuitem id="menu_educare_user_profile"
            name="User Profile"
            parent="menu_educare_user_management"
            action="action_educare_user_profile"
            sequence="10" />

        <menuitem id="menu_educare_audit_log"
            name="System Log"
            parent="menu_educare_user_management"
            action="action_educare_audit_log"
            sequence="20"
            groups="educare_security.group_admin" />

        <!-- My Profile — dành cho teacher, supervisor, parent tự xem profile của mình -->
        <menuitem id="menu_my_profile"
            name="My Profile"
            parent="educare_base.menu_educare_root"
            action="action_my_profile"
            sequence="90"
            groups="educare_security.group_teacher,educare_security.group_supervisor,educare_security.group_parent" />
    </data>
</odoo>